body {
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
}

header {
    /*background-color: #FCFCF5;*/
    color: #575753;
    text-align: center;
    padding: 20px;
    text-align: center; /* Center-align the text horizontally */
    position: absolute; /* Position the header absolutely */
    top: 50%; /* Move the top edge to the middle of the page */
    left: 50%; /* Move the left edge to the middle of the page */
    transform: translate(-50%, -50%);
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}
h1{
    font-size: 40px;
    text-align: center;
    background-image: linear-gradient(to left, pink, purple);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;

}
h2{
    font-size: 40px;
    text-align: center;
    background-image: linear-gradient(to left, pink, purple);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}
ul {
    list-style-type: none;
    overflow: hidden;
}
li {
    float: right;
}

li a {
    display: block;
    padding: 8px;
}

.login {
    position: absolute;
    font-family: 'Josefin Sans', sans-serif;
    top: 20px; /* Adjust the top position as needed */
    left: 20px; /* Adjust the left position as needed */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.shopping-cart {
    position: fixed;
    top: 20px; /* Adjust the top position as needed */
    right: 20px; /* Adjust the right position as needed */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.cart {
    text-decoration: none;
}

.button {
    background-color: #E0E0DE;
    color: #333; /* Dark text color */
    padding: 10px 20px;
    margin: 10px;
    border: none; /* No border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer;
    font-size: 14px; /* Font size */
    transition: background-color 0.3s, color 0.3s; /* Smooth color transition */
}
.button:hover {
    background-color: #BDBDB7; /* Slightly darker background color on hover */
    color: #555; /* Slightly darker text color on hover */
}

.product {
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    background-color: #f5f5f5;
}

.product img {
    max-width: 100%;
}

.price {
    font-weight: bold;
    color: #27ae60;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}

/* Navigation Bar */
/* CSS */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-bottom: 1px solid #ccc;
    padding: 10px;
}

.logo{
    padding-right: 30px;
}

.nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-end; /* Align the links to the right */
}

.nav-links li {
    margin: 0 10px;
}

.nav-links a {
    text-decoration: none;
    color: #333;
}

.nav-links a:hover {
    color: #007BFF;
}
